/* Shared styling for all  HTML pages: body, shared selectors, navbar, and footer*/
body {
  background-image: url(https://images.unsplash.com/photo-1495283897339-a5736d2c12b2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
  background-color: goldenrod;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgba(5, 51, 121);
}

main {
  flex: auto;
}
p {
  font-family: "Open Sans", sans-serif;
}
.content {
  margin-top: 75px;
  margin-bottom: 75px;
}
.window {
  padding: 45px;
  background-color: rgb(225, 225, 228);
}
/*Navbar styling*/
.navbar-brand {
  /* background-color: rgb(58, 189, 182); */
  background-color: rgba(5, 51, 121);
  font-size: 30px;
  padding: 15px;
}

#name {
  color: rgb(250, 248, 248);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

#name:hover {
  color: rgb(245, 185, 35);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
}
.nav-item:hover {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(245, 185, 35, 0.7);
}

/* Footer Styling; sticky footer for bootstrap found on getbootstrap.com */

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: rgba(5, 51, 121, 0.7);
  color: rgb(245, 185, 35, 0.7);
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/* End of shared styling across all pages */

/* index.html styling*/
img {
  float: left;
  margin-right: 10px;
}

@media screen and (max-width: 406px) {
  img {
    width: 100%;
  }
}

/*portfolio.html styling*/
.port-image {
  width: 350px;
  height: 350px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .port-image {
    width: 100%;
    margin-bottom: 15px;
  }
}

/*contact.html stylings*/
.form-label {
  font-family: "Open Sans", sans-serif;
}
.btn {
  background-color: rgba(5, 51, 121);
  color: rgb(250, 248, 248);
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  color: rgb(245, 185, 35);
}

/*
if time allows, figure out how to change icon on toggler
.fa-hamburger {
  font-size: 70px;
}
*/
