/* CSS for all pages*/
body {
  /* background-image: url(../images/backgroundEendra.jpg); */
  background-image: url(https://images.unsplash.com/photo-1495283897339-a5736d2c12b2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80);
  background-color: goldenrod;
}

/*Navbar styling*/
.navbar-brand {
  /* background-color: rgb(58, 189, 182); */
  background-color: rgb(9, 1, 126);
  font-size: 30px;
  padding: 15px;
}

#name {
  color: rgb(250, 248, 248);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

/* Main Styling */
/* Footer Styling */
footer {
  color: rgb(250, 248, 248);
  text-align: center;
}
/* Design notes--

Fonts to use:
Brand: font-family: 'Montserrat', sans-serif; weights available: 100, 400, 500
h1 elements: font-family: 'Montserrat', sans-serif;
Other title elements: font-family: 'Montserrat', sans-serif;
p elements: font-family: 'Open Sans', sans-serif; weights available: 300, 400, 600

base-line indigo to play with background-color: rgb(39, 1, 126);
 

if time allows, figure out how to change icon on toggler
.fa-hamburger {
  font-size: 70px;
}
*/
